@tailwind base;
/* Write your own custom base styles here */

@tailwind components;
/* Write your own custom component styles here */


.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

@tailwind utilities;
/* Your own custom utilities */