@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-gray-100 h-full text-sub;
  }
  ,
  a,
  button,
  input {
    @apply focus:outline-none focus-visible:outline-blue;
  }
}

@layer components {
  .input {
    @apply border border-gray-200 p-2 focus:outline-none focus:border-gray-500 rounded-md;
  }
  .add-button {
    @apply block mb-4 cursor-pointer rounded-md p-4 w-full max-w-2xl hover:bg-gray-200 duration-300 text-left border border-gray-200;
  }
  .button {
    @apply px-6 py-2 text-xs font-medium leading-6 text-center duration-200 rounded border border-gray-200 hover:opacity-70 w-auto;
  }
  .icon-button {
    @apply cursor-pointer hover:bg-gray-200 rounded-md;
  }
  .title {
    @apply text-2xl md:text-3xl font-bold;
  }
  .modal-content {
    @apply modal-content-sp md:modal-content-md bg-gray-100;
  }
}

@layer utilities {
  .h-content {
    height: calc(100vh - 16rem);
  }
  .font-audio {
    font-family: "Audiowide", cursive;
  }
  .modal-content-sp {
    height: calc(100% - 5rem);
  }
  .max-w-xss {
    max-width: 15rem;
  }
  @variants responsive {
    .h-content-md {
      height: calc(100vh - 11rem);
    }
    .h-120 {
      max-height: 40rem;
    }
    .modal-content-md {
      max-height: 33rem;
    }
  }
}
